@model AgendaPaciente

<input asp-for="IdAgenda"/>
<div class="mb-3">
    <label asp-for="Remedio"></label>
    <input asp-for="Remedio" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Descricao"></label>
    <input asp-for="Descricao" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="DtInicio"></label>
    <input asp-for="DtInicio" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="DtFim"></label>
    <input asp-for="DtFim" class="form-control" />
</div>