@model PlanoSaude

<input asp-for="IdPlanoSaude" />
<div class="mb-3">
    <label asp-for="NomePlano"></label>
    <input asp-for="NomePlano" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="TipoPlano"></label>
    <input asp-for="TipoPlano" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Cobertura"></label>
    <input asp-for="Cobertura" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Carencia"></label>
    <input asp-for="Carencia
" class="form-control" />
</div>