@model Ficha

<input asp-for="IdFicha" />
<div class="mb-3">
    <label asp-for="SintomasAtuais"></label>
    <input asp-for="SintomasAtuais" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="MedicamentosUso"></label>
    <input asp-for="MedicamentosUso" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Alergias"></label>
    <input asp-for="Alergias" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Peso"></label>
    <input asp-for="Peso" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Altura"></label>
    <input asp-for="Altura" class="form-control" />
</div>
<div class="mb-3">
    <input asp-for="Observacoes" />
    <label asp-for="Observacoes"></label>
</div>