@model UsuarioPaciente

@{
    ViewData["Title"] = "Cadastro de Paciente";
}

<h1>Cadastro de Paciente</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="cadastrar">
    <partial name="_Form"/>
    <botao></botao>
    <a asp-action="index" class="btn btn-dark">Lista de Pacientes</a>
</form>