@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Full Med</h1>
    <!--Link para a página de cadastro de paciente-->
    <a asp-controller="paciente" asp-action="cadastrar">Cadastro de Paciente</a>
</div>
